<!DOCTYPE html>
<html>
  <head>
    <title>LoadTest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ooVoo script -->
	<script src="https://code.oovoo.com/webrtc/oovoosdk-2.0.0.min.js"></script>
    <!-- jQuery, for this example -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
    <h3 id="status">Not Connected</h3>
    <div id="login">
      User Name:
      <input id="endpoint" type="text" />
      <input id="doLogin" type="button" value="Connect" />
    </div>


  	<script type="text/javascript">
		var participantId = null;
		
		$("#doLogin").click(function () {
			participantId = $("#endpoint").val();
			startVideo();
		})

	    var conference = null;
	    var conferenceId = "HIPO_SESH";
	    var appToken = "MDAxMDAxAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADF7zL74a91r5c5XhVPaKI8NsD%2FUf1lCppztbs6DkNESIQ%2Bv1%2BiDYB0c%2F%2Fi7MANPuNT0jSxNyCoZjHYtrdpe%2FqwQ8NBK1Aw5J3RQOEme%2BMKFmudDp0pxGeviTgdP3Dh%2Bqo%3D";
	    var sessionToken = getQSParam("t");
	    var participantId = getQSParam("pid");

	    function startVideo(){
	    	console.log("starting video...")
	        if (!sessionToken) {
	            //for example (get random id)
	            if (participantId == null){
	            	participantId = Math.floor(Math.random() * 9999999999) + 1000000000;
	            }

	            var redirectUrl = "url to send response with the session token"
	            redirectUrl = location.href + "?pid=" + participantId;
	            ooVoo.API.connect({
		            token: appToken,
		            isSandbox: true,
		            userId: participantId,
		            callbackUrl: redirectUrl
	            });
	        }
	        else {
	            ooVoo.API.init({
	            userToken: sessionToken
	            }, onAPI_init);
	        }
	    }

	    function onAPI_init(res) {
	    	conference = ooVoo.API.Conference.init({ video: true, audio: true }, onConference_init);
	    }
	    function onConference_init(res) {
	        if (!res.error) {
	            //register to conference events
	            conference.onParticipantJoined = onParticipantJoined;
	            conference.onParticipantLeft = onParticipantLeft;
	            conference.onLocalStreamPublished = onStreamPublished;
	            conference.onConferenceStateChanged = onConferenceStateChanged;
	            conference.onRemoteVideoStateChanged = onRemoteVideoStateChanged

	            conference.setConfig({
		            videoResolution: ooVoo.API.VideoResolution["HIGH"],
		            videoFrameRate: new Array(5, 15)
	        	}, function (res) {
		            if (!res.error) {
			            conference.join(conferenceId, participantId, sessionToken, "participant name", function (result) { });
			        }
		    	});
	        }
	    }
	    function onStreamPublished(stream) {
	    	document.getElementById("localVideo").src = URL.createObjectURL(stream.stream);
	    }
	    function onParticipantLeft(evt) {
	        if (evt.uid) {
	        	document.getElementById("vid_" + evt.uid).remove();
	        }
	    }
	    function onParticipantJoined(evt) {
	        if (evt.stream && evt.uid != null) {
	            var videoElement = document.createElement("video");
	            videoElement.id = "vid_" + evt.uid;
	            videoElement.src = URL.createObjectURL(evt.stream);
	            videoElement.setAttribute("autoplay", true);
	            document.body.appendChild(videoElement);
	        }
	    }
	    function onConferenceStateChanged(evt) {
	    }
	    function onRemoteVideoStateChanged(evt) {
	    }
	    function getQSParam(name) {
	        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
	        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
	        results = regex.exec(location.search);
	        return results === null ? "" : results[1].replace(/\+/g, " ");
	    }

	    </script>
	    <video id="localVideo" style="width:50%; height:auto;" autoplay muted></video>
  	</body>
</html>