<!DOCTYPE html>
<html>
  <head>
    <title>HIPO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ooVoo script -->
	<script src="https://code.oovoo.com/webrtc/oovoosdk-2.0.0.min.js"></script>
    <!-- jQuery, for this example  -->
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <style>
      .container {
        max-width: 1000px;
        padding-top:80px;
      }
    </style>
    <script src="/js/makecharts.js"></script>
  </head>
  <body>
  	<div class="container">

  		<!-- HEADER -->
  		<div id="user-display" class="well">
  			<!-- ********don't change the input divs for username, password, or login -->
  			<span class="glyphicon glyphicon-user"></span>
	      	User Name: <input id="username" type="text" value="sam.s.smith"/>
	      	Password: <input id="password" type="password" value="MyFood4Health!"/>
	      	<input class="btn btn-default" id="login" type="button" value="Login" />
	      	<input class="btn btn-default" id="connect" type="button" value="Connect" />
	      	<div id="status"></div>
	      	<!-- *******end don't change -->
	    </div>

	    </br>
	    </br>

		<!-- MAIN BODY -->
		<div class="row">
			<div class="col-md-4">
		    <!-- VIDEO CONFERENCING -->
		    	<!-- ********don't change the id values for these -->
		    	<div class="row">
		    		<h2 align="center"><input class="btn btn-default" style="width:300px;" id="join" type="button" value="JOIN CONFERENCE" /></h2>
		    		</br>
		    	</div>
		    	<div class="row" id="conference-videos">
	            	<video id="localVideo" align="center" style="width:300px; height:auto;" autoplay muted></video>
	            </div>
	            <!-- *******end don't change -->
			</div>
			<div id="charts">
				<div class="col-md-4">
					<h5>Glucose</h5>
					<canvas id="b" width="300" height="300"></canvas>
					<h5>ATC</h5>
					<canvas id="c" width="300" height="300"></canvas>
					<h5>HR + BP</h5>
			    	<canvas id="a" width="300" height="300"></canvas>
				</div>
				<div class="col-md-4">
					<h5>Treatment Options</h5>
					<canvas id="f" width="300" height="300"></canvas>
					<h5>Steps</h5>
					<canvas id="e" width="300" height="300"></canvas>
					<h5>Weight</h5>
					<canvas id="d" width="300" height="300"></canvas>
				</div>
			</div>
		</div>
	</div>


	<!-- ********don't change beyond here, it's all javascript anyway -->
  	<script type="text/javascript">
		var participantId = "UNKNOWN";
		var participantName = null;
		var CONSUMER_KEY = "L11NZgGCutWQkt4F4gMch0GBdW3tFTMd";
		var CONSUMER_SECRET = "GR2ohAlmJqjGJSlB";
		var BASE_URL = "https://gateway.api.pcftest.com:9004"; // HTTPS url
		var BASE_URL_GET_TOKEN = BASE_URL + "/v1/oauth2/token?grant_type=client_credentials";
		var BASE_URL_LOGIN = BASE_URL + "/v1/oauth2/authorize/login";
		var BASE_URL_LOGOUT = BASE_URL + "/v1/oauth2/authorize/logout";
		var BASE_FHIR_INFO_URL = BASE_URL + "/v1/fhir_rest";
		var BASE_URL_PATIENT = BASE_FHIR_INFO_URL + "/Patient/";
		var BASE_URL_ORGANIZATION = BASE_FHIR_INFO_URL + "/Organization/";
		var BASE_URL_OBSERVATION = BASE_FHIR_INFO_URL + "/Observation/";
		var GLUCOSE_LOINC = "2339-0";
	    var HR_LOINC = "8867-4";
	    var WEIGHT_LOINC = "3141-9";
	    var BP_LOINC = "55284-4";
	    var STEPS_LOINC = "41950-7";
	    var ATC_LOINC = "4548-4";
		var token = null;
		var patient_id = null;
		var logged_in = false;
		var patient_data = {};

		$("#login").click(function () {
			var username = $("#username").val();
			var password = $("#password").val();
			authorize(username, password);
		})

		$("#connect").click(function(){
			console.log("pressed connect");
			startVideo();
		})

		$("#join").click(function(){
			console.log("pressed join");
			$("#conference-videos").each(function() {
			      $(this).show();
			});
		})

		init();

		function init(){
			$("#conference-videos").each(function() {
			      $(this).hide();
			});
			$("#charts").each(function() {
			      $(this).hide();
			});
		}

		function authorize(username, password){
			console.log("authorizing...");
			var encodedData = window.btoa(CONSUMER_KEY + ":" + CONSUMER_SECRET);
			$.ajax({
	            crossDomain: true,
	            type:"POST",
	            url: BASE_URL_GET_TOKEN,
	        	headers: {'Authorization': 'Basic ' + encodedData},
	            success: function(result) {
	              token = result.access_token;
	              console.log("authorized!");
	              clientLogin(username,password);
	            },
	            error: function(e) {
	              console.log("[ERROR]");
	            }
	        });
		}

		function clientLogin(username,password) {
			console.log(token);
			var loginDetails = {
	        		'username':username,
	        		'password':password,
	        	};
	        console.dir(loginDetails);
			$.ajax({
	            crossDomain: true,
	            type:'POST',
	            url: BASE_URL_LOGIN,
	        	headers: {'Authorization': 'Bearer ' + token},
	        	contentType: 'application/json',
                data: JSON.stringify(loginDetails),
                dataType: 'json',
	            success: function(result) {
	              console.log("Success");
	              patient_id = result.user.id;
	              getPatient(token);
	            },
	            error: function(e) {
	              console.log("[ERROR]");
	            }
	        });
		}

		/* The patient function retrieves individual patient demographic data. */
		function getPatient(token){
			console.log("Getting patient");
			console.log(token);
			console.log(patient_id);
			$.ajax({
	            crossDomain: true,
	            type:'GET',
	            url: BASE_URL_PATIENT + patient_id,
	        	headers: {'Authorization':'Bearer ' + token,'Accept':'application/json'},
	            success: function(result) {
	            	$("#charts").each(function() {
					      $(this).show();
					});
					getPatientObservations(GLUCOSE_LOINC);
					getPatientObservations(HR_LOINC);
					getPatientObservations(WEIGHT_LOINC);
					getPatientObservations(BP_LOINC);
					getPatientObservations(STEPS_LOINC);
					getPatientObservations(ATC_LOINC);
					plotCharts();
	            },
	            error: function(e) {
	              console.log("[ERROR]");
	            }
	        });
		};

		function getPatientObservations(loinc_code){
			console.log("Getting Observation");
			$.ajax({
	            crossDomain: true,
	            type:'GET',
	            url: BASE_URL_OBSERVATION + '?subject:_id=' + patient_id + '&name=' + loinc_code + '&_sort:asc=date&_count=5',
	        	headers: {'Authorization':'Bearer ' + token,'Accept':'application/json'},
	            success: function(result) {
	              console.log(loinc_code);
	              console.log(JSON.stringify(result));
	              sendData(result, "/glucose", loinc_code);
	            },
	            error: function(e) {
	              console.log("[ERROR]");
	            }
	        });

		}

		function sendData(result, processURL, loinc_code){
			console.log("sending result...");
	        $.ajax({
                type: 'POST',
                url: '/glucose',
                contentType: 'application/json',
                headers: {'Accept':'application/json'},
                data: JSON.stringify(result),
                dataType: 'text',
                headers: {},
                success: function(result) {
                  	console.log(result);
                  	//patient_data[loinc_code] = result;
                },
                error: function(e) {
                  console.log("[ERROR]");
                }
            });
		}

	    var conference = null;
	    var conferenceId = "HIPO_SESH";
	    var appToken = "MDAxMDAxAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADF7zL74a91r5c5XhVPaKI8NsD%2FUf1lCppztbs6DkNESIQ%2Bv1%2BiDYB0c%2F%2Fi7MANPuNT0jSxNyCoZjHYtrdpe%2FqwQ8NBK1Aw5J3RQOEme%2BMKFmudDp0pxGeviTgdP3Dh%2Bqo%3D";
	    var sessionToken = getQSParam("t");
	    var participantId = getQSParam("pid");

	    function startVideo(){
	    	console.log("starting video");
	        if (!sessionToken) {
	            participantId = Math.floor(Math.random() * 9999999999) + 1000000000;
	            var redirectUrl = location.href + "?pid=" + participantId;
	            ooVoo.API.connect({
		            token: appToken,
		            isSandbox: true,
		            userId: participantId,
		            callbackUrl: redirectUrl
	            });
	            document.getElementById("status").innerHTML = "Connecting to ooVoo...";
	        }
	        else {
	        	console.log("starting with existing session token");
	            ooVoo.API.init({
	            	userToken: sessionToken
	            }, onAPI_init);
	        }
	    }

	    function onAPI_init(res) {
	    	conference = ooVoo.API.Conference.init({ video: true, audio: true }, onConference_init);
	    }
	    function onConference_init(res) {
	        if (!res.error) {
	            //register to conference events
	            conference.onParticipantJoined = onParticipantJoined;
	            conference.onParticipantLeft = onParticipantLeft;
	            conference.onLocalStreamPublished = onStreamPublished;
	            conference.onConferenceStateChanged = onConferenceStateChanged;
	            conference.onRemoteVideoStateChanged = onRemoteVideoStateChanged

	            conference.setConfig({
		            videoResolution: ooVoo.API.VideoResolution["HIGH"],
		            videoFrameRate: new Array(15, 30)
	        	}, function (res) {
		            if (!res.error) {
			            conference.join(conferenceId, participantId, sessionToken, "participant name", function (result) { });
			        }
		    	});
	        }
	    }
	    function onStreamPublished(stream) {
	    	document.getElementById("localVideo").src = URL.createObjectURL(stream.stream);
	    	document.getElementById("status").innerHTML = "Connected!";
	    }
	    function onParticipantLeft(evt) {
	        if (evt.uid) {
	        	document.getElementById("vid_" + evt.uid).remove();
	        }
	    }
	    function onParticipantJoined(evt) {
	        if (evt.stream && evt.uid != null) {
	            var videoElement = document.createElement("video");
	            videoElement.id = "vid_" + evt.uid;
	            videoElement.src = URL.createObjectURL(evt.stream);
	            videoElement.align="center";
	            videoElement.style.width = "300px";
	            videoElement.style.height = "auto";
	            videoElement.setAttribute("autoplay", true);
	            document.getElementById("conference-videos").insertBefore(videoElement, document.getElementById("localVideo"));
	        }
	    }
	    function onConferenceStateChanged(evt) {
	    }
	    function onRemoteVideoStateChanged(evt) {
	    }
	    function getQSParam(name) {
	        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
	        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
	        results = regex.exec(location.search);
	        return results === null ? "" : results[1].replace(/\+/g, " ");
	    }

	    function plotCharts(){
	    	document.getElementById('charts').style.visibility = "visible";
	    	var results = [["7 Sep 2014","10 Sep 2014","12 Sep 2014","13 Sep 2014","17 Sep 2014"],[1,4,8,16,32]];
		    //chart b
		    var bData = {
				labels : results[0],
				datasets : [
					{
						fillColor : "rgba(172,194,132,0.4)",
						strokeColor : "#ACC26D",
						pointColor : "#fff",
						pointStrokeColor : "#9DB86D",
						data : results[1]
					}
				]
			}
		    var b = document.getElementById('b').getContext('2d');
		    new Chart(b).Line(bData);
		    
		    //chart c
		    var cData = {
				labels : results[0],
				datasets : [
					{
						label: "A1C",
						fillColor: "rgba(220,220,220,0.5)",
			            strokeColor: "rgba(220,220,220,0.8)",
			            highlightFill: "rgba(220,220,220,0.75)",
			            highlightStroke: "rgba(220,220,220,1)",
						data : results[1]
					}
				]
			}
		    var c = document.getElementById('c').getContext('2d');
		    new Chart(c).Bar(cData);

			//chart a
		    var aData = {
				labels : results[0],
				datasets : [
					{
						fillColor : "rgba(172,194,132,0.4)",
						strokeColor : "#ACC26D",
						pointColor : "#fff",
						pointStrokeColor : "#9DB86D",
						data : results[1]
					}
				]
			}
		    var a = document.getElementById('a').getContext('2d');
		    new Chart(a).Line(aData);

		    //chart f
		    var fData = {
				labels : results[0],
				datasets : [
					{
						label: "Treatment Options",
						fillColor: "rgba(220,220,220,0.5)",
			            strokeColor: "rgba(220,220,220,0.8)",
			            highlightFill: "rgba(220,220,220,0.75)",
			            highlightStroke: "rgba(220,220,220,1)",
						data : results[1]
					}
				]
			}
		    var f = document.getElementById('f').getContext('2d');
			new Chart(f).Bar(fData);

		    //chart e
		    var eData = {
			labels : results[0],
			datasets : [
				{
						label: "Steps",
						fillColor: "rgba(220,220,220,0.5)",
			            strokeColor: "rgba(220,220,220,0.8)",
			            highlightFill: "rgba(220,220,220,0.75)",
			            highlightStroke: "rgba(220,220,220,1)",
						data : results[1]
					}
				]
			}
		    var e = document.getElementById('e').getContext('2d');
		    new Chart(e).Bar(eData);

		    //chart d
		    var dData = {
			labels : results[0],
			datasets : [
					{
						fillColor : "rgba(172,194,132,0.4)",
						strokeColor : "#ACC26D",
						pointColor : "#fff",
						pointStrokeColor : "#9DB86D",
						data : results[1]
					}
				]
			}
		    var d = document.getElementById('d').getContext('2d');
		    new Chart(d).Line(dData);
	    }
	</script>
  	</body>
</html>